.float{
	position:fixed;
	width:30px;
	height:30px;
	bottom:20px;
	right:20px;
	background-color:#0C9;
	color:#FFF;
	border-radius:25px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.usa{
	margin-top:22px;
}

.netherlands{
	margin-top:44px;
}